.contrato-item {
  padding:20px 40px;
  margin:10px 0;
  border-radius: 6px;
  background-color:rgba(255,255,255,.75);
  -webkit-transition: background .4s;
  -moz-transition: background .4s;
  -o-transition: background .4s;
  -ms-transition: background .4s;
  transition: background .4s;
}
.contrato-item:hover{
  background: #fff;
}
.contrato-item h3 {
  font-size: 14px;
  margin:0;
}
.contrato-item h4 {
  font-size: 14px;
  margin-top: 0px;
}
.contrato-item p {
  font-size: 12px;
  margin-top: 0px;
  line-height: 20px;
}
.contrato-item .ammount a{
  font-size:24px;
  color:#1E7EE2;
  margin:0 0 5px;
}
.contrato-item .title{
  padding:0 40px 0 0;
}

.contrato-item i{
  font-size: 20px;
  vertical-align: middle;
  margin-right: 6px;
}

.contrato-item .data-item{font-weight: 400}

.contrato-item .data-items-list{
  list-style: none;
  padding-left: 0;
}
.contrato-item .data-items-list li{
  padding-left: 30px;
  position: relative;
  margin-bottom: 12px;
}

.contrato-item .data-items-list li i{
  position: absolute;
  left: 0;
  top: 0;
}

.contrato-item .data-items-list li p{margin: 0;}


.search-header{
  min-height: auto;
  padding-bottom: 20px;
}
.search-header h1{
  line-height: 1.2;
  margin: 0;
  font-size: 28px;
  font-weight: 300;
}

.search-header-social{
  text-align: center;
  padding: 20px;
}
.search-header-social a{
  color: #fff;
  margin: 0 10px;
}

.search-results-info{color: #fff;}

.search-filter{
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
  min-height: auto;
  margin-top: 10px;
}
.search-filter p{
  margin: 0 0 10px;
  font-size: 16px;
}
.search-filter span{
  font-size: 12px;
  color: #fff;
}
.search-filter md-checkbox{
  display: inline-block;
  margin: 4px 8px;
}
.search-filter md-checkbox .md-icon{
  border-color: #fff;
}

.search-filter md-checkbox:not([disabled]).md-primary.md-checked .md-icon{
  background-color: transparent!important;
  border: 2px solid #fff!important;
}
.search-filter md-checkbox:not([disabled]).md-primary.md-checked .md-icon:after{
  border-color:#fff;
  left: 5px;
  height: 10px;
  top: 1px;
  width: 4px;
}

.search-clear a{
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.sum-toolbar{min-height: auto;}


@media screen and (max-width: 959px){
  .search-header-social{
    text-align: left;
    padding: 10px 0;
  }
  .search-header-social a:first-child{margin-left: 0;}
}

@media screen and (max-width: 600px){
  .main-sidenav{
    width: 100%!important;
  }
  .main-sidenav md-autocomplete:first-child md-autocomplete-wrap{
    margin-top: 0;
  }

  .contrato-item h1{font-size: 16px;}
}
