.rounded-box {
  padding:20px 40px;
  margin:10px 0;
  border-radius: 6px;
}
.rounded-box h3 {
  font-size: 14px;
  margin:0;
}
.rounded-box h4 {
  font-size: 14px;
  margin-top: 0px;
}
.rounded-box p {
  font-size: 12px;
  margin-top: 0px;
  line-height: 20px;
}
.rounded-box .ammount{
	font-size:24px;
	color:#1E7EE2;
	margin:0 0 5px;
}
.rounded-box .title{
	padding:0 40px 0 0;
}
