@import 'home.css';
@import 'contratos.css';
@import 'companies.css';
body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none
}

.nvd3 text {
  font: normal 12px "Open sans";
}

md-autocomplete[md-floating-label] md-input-container, md-input-container{
  margin: 0;
  padding: 0;
}

.autocomplete-search-area{
  margin-top:20px;
}
.main-sidenav,
.sidenav-filter {
  /*
  background: #189abc;
  background: -moz-linear-gradient(45deg, #189abc 0%, #265293 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #189abc), color-stop(100%, #265293));
  background: -webkit-linear-gradient(45deg, #189abc 0%, #265293 100%);
  background: -o-linear-gradient(45deg, #189abc 0%, #265293 100%);
  background: -ms-linear-gradient(45deg, #189abc 0%, #265293 100%);
  background: linear-gradient(45deg, #189abc 0%, #265293 100%); 
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#189abc', endColorstr='#265293', GradientType=1);
  */
}
.main-sidenav{
  width: 290px;
  z-index: 60;
}

.toggle-sidenav-filter {
  text-align: center;
  padding: 4px 0;
}
.toggle-sidenav-filter a,
.toggle-sidenav-filter i {
  font-weight: 400
}
.main-sidenav md-autocomplete-wrap {
  /*max-height: 35px*/
}
.main-sidenav md-autocomplete {
  padding-bottom: 0;
}
.main-sidenav md-autocomplete:first-child md-autocomplete-wrap {
  margin-top: -16px
}
.main-sidenav md-autocomplete input::-webkit-input-placeholder {
  color: #75797C;
}
.main-sidenav md-autocomplete input:-moz-placeholder {
  /* Firefox 18- */
  color: #75797C;
}
.main-sidenav md-autocomplete input::-moz-placeholder {
  /* Firefox 19+ */
  color: #75797C;
}
.main-sidenav md-autocomplete input:-ms-input-placeholder {
  color: #75797C;
}

.logobox {
  text-align: center;
}

.logobox img {
  display: block;
  margin: 0 auto;
  max-width: 85%;
}

.logobox span {
  color: #189ABC;
  font-size: 29px;
  font-weight: 400;
  text-decoration: none;
}

.logobox span strong {
  font-weight: 700
}

/*---------------
  #HEADER MOBILE
/*-------------*/
.header-mobile{
  padding: 20px;
  position: relative;
}
.header-mobile-content{
  position: relative;
  text-align: center;
  width: 100%;
}
.header-mobile-content .logo{
  display: inline-block;
  margin: 10px auto 0;
}
.header-mobile-content .menu-btn{
  position: absolute;
  display: inline-block;
  width: 30px;
  left: 20px;
  top: 20px;
  outline: 0;
}
.header-mobile-content .menu-btn span{
  display: block;
  width: 100%;
  height: 2px;
  margin: 6px 0;
  background: #fff;
}
.header-mobile-content .logo img{max-width: 60%;}

/*--------------/
  #SEND-COMMENT
/*-------------*/

.send-comment {
  margin-top: 20px;
  color: #30A1C2;
  text-align: center;
}

.send-comment i {
  font-size: 30px;
}

.send-comment p {
  margin: 0;
}

.send-comment-btn {
  background: #30A1C2;
  display: block;
  color: #fff;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
}


/*--------------/
  #ROOT-CONTAINER
/*-------------*/

#root-container {
  /*background: linear-gradient(45deg, #1C7EE1 0%, #189ABC 40%, #189ABC 60%, #1C7EE1 100%);*/
  background: #189abc;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #189abc 0%, #265293 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #189abc), color-stop(100%, #265293));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #189abc 0%, #265293 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #189abc 0%, #265293 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #189abc 0%, #265293 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #189abc 0%, #265293 100%);
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#189abc', endColorstr='#265293', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.wrap-main-container,
.main-container{
  background: transparent;
}
.main-container{
  padding: 40px;
}

.menu-item.tag {
  font-size: 12px;
  text-transform: none;
  overflow: hidden;
  padding: 0 16px;
}

.menu-item {
  background: none;
  border-width: 0;
  cursor: pointer;
  display: block;
  color: #616161;
  font-size: inherit;
  font-weight: 400;
  line-height: 20px;
  opacity: 1;
  margin: 0;
  outline: none;
  padding: 10px 28px;
  position: relative;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  z-index: 1;
  -webkit-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height, background-color, opacity;
  -moz-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height, background-color, opacity;
  transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height, background-color, opacity;
}
.menu-item-toggle {
  float: right;
  font-size: 12px;
}
.menu-item:hover {
  background: #1C7EE1;
  color: #fff;
}
.md-toolbar-tools {
  font-size: 16px;
}
.md-title {
  font-size: 20px;
}
.menu-item.selected {
  background-color: #1C7EE1;
  color: white;
}
.menu-item.ng-hide {
  max-height: 0;
  opacity: 0;
}
.menu-item.menu-title {
  font-size: 14px;
  padding-left: 16px;
  text-align: left;
  text-transform: uppercase;
}

.dropdown-menu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  padding: 0;
  margin: 0;
  z-index: 50000;
  box-shadow: 1px 1px 3px #222;
}

.dropdown-menu li {
  list-style-type: none;
  font-size: 12px;
  padding: 9px 7px;
  display: block;
  border-bottom: 1px solid #E0E0E0;
}

.dropdown-menu li.active {
  background-color: #03A9F4;
  color: white;
}

.results-toolbar {
  background-color: #017BB0!important
}

md-list-item .md-secondary-container,
md-list-item .md-secondary,
md-list-item .md-list-item-inner .md-secondary-container,
md-list-item .md-list-item-inner .md-secondary {
  margin-left: 16px;
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.star {
  float: right;
  margin-top: 0px;
  color: #FFDC00;
  font-size: 24px;
}

.star:hover {
  cursor: pointer;
}

.mini-star {
  font-size: 20px;
  margin-right: 2px;
  margin-top: 2px;
}

.favorites-heading {
  float: left;
  height: 30px;
  line-height: 30px;
  width: 100%;
  margin-bottom: 0px;
}

.favorite-name {
  float: left;
  margin-bottom: 3px;
  margin-top: 3px;
  font-size: 14px;
}

.clear {
  clear: both;
}


md-content {
  background: transparent;
  color: #686868;
}

md-content a {
  color: #686868;
  font-weight: bold;
}

md-content .light {
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
}

md-content .light a {
  font-weight: 300;
  font-size: 13px;
  text-transform: uppercase;
}

md-slider {
  height: 32px;
}

.subtitle {
  margin-bottom: 8px;
}

.favorites-list > md-list-item > button {
  padding: 0 0px;
}

.favorites-list > md-list-item > button > div > p {
  padding: 0 10px;
}

md-toolbar.transparent-toolbar {
  background: transparent;
}

.pagination-wrapper {
  min-height: auto;
}

.pagination-cb {
  list-style: none;
  padding-left: 0;
}

.pagination-cb a {
  background-color: #fff;
  text-align: center;
  vertical-align: middle;
  margin: 0 4px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
  padding: 6px 10px;
}

.pagination-cb a:hover,
.pagination-cb .current-page {
  background: #1C7EE1;
  color: #fff;
}

.pagination-cb a:hover,
.pagination-cb .current-page {
  color: #fff;
}

.user-list-wrapper {
  background: #fff
}

.user-list md-list-item .md-list-item-text h3,
.user-list md-list-item .md-list-item-text h4,
.user-list md-list-item .md-list-item-text p {
  color: #686868!important;
  margin: 4px 0;
}

.user-list md-list-item .md-list-item-text h3 {
  font-size: 15px;
}

.user-list md-list-item .md-list-item-text h4 {
  line-height: 1.20em;
  letter-spacing: 0.001em;
  font-size: 13px
}

.user-list md-list-item .md-list-item-text p {
  font-size: 12px;
  line-height: 1.05em;
}

.footer .logos{margin: 0;}
.footer .logos img{
  margin: 10px 20px 0;
  vertical-align: middle;
}

@media (max-width: 959px) and (min-width: 600px) {
  /*[flex-md="100"] {
    -webkit-flex: 1!important;
    -ms-flex: 1!important;
    flex: 1!important;
  }*/
}


@media screen and (max-width: 900px) {
  .main-container {
    padding: 20px 14px;
  }
  .sidebar-wrapper{
    display: block;
    flex: none!important;
  }
}

@media screen and (max-width: 599px) {
  /*
  [flex-sm="100"] {
    -webkit-flex: 1!important;
    -ms-flex: 1!important;
    flex: 1!important;
  }
  */
  .wrap-main-container {
    margin: 0;
    min-height: auto;
    width: 100%;
  }
  /*
  [layout=column] {
    display: block;
  }
  */
  .footer .logos{text-align: center;}
  .footer .logos img{
    max-width: 40%;
    margin: 10px;
  }
}
