@import 'home.css';
@import 'contratos.css';

body{
  font-family:'Open Sans', sans-serif;
}

a{text-decoration: none}

.main-sidenav{
  z-index:60;
  width:290px;
}

.logobox{text-align:center;}
.logobox img{display:block;margin:0 auto;}
.logobox span{color:#189ABC;font-size:29px;font-weight: 400;text-decoration: none;}
.logobox span strong{font-weight: 700}

.main-container{
  background: linear-gradient(45deg, #1C7EE1 0%, #189ABC 40%, #189ABC 60%, #1C7EE1 100%);
  padding:40px 40px;
}



.menu-item.tag{font-size:12px;text-transform:none;overflow:hidden;padding:0 16px;}
.menu-item {
  background: none;
  border-width: 0;
  cursor: pointer;
  display: block;
  color:#616161 ;
  font-size: inherit;
  font-weight:400;
  line-height: 20px;
  opacity: 1;
  margin: 0;
  outline: none;
  padding: 10px 28px;
  position: relative;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  z-index: 1;
  -webkit-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height, background-color, opacity;
  -moz-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height, background-color, opacity;
  transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height, background-color, opacity;
}
.md-toolbar-tools {
  font-size: 16px;
}
.md-title {
  font-size: 20px;
}
.menu-item.selected {
  background-color:#1C7EE1;
  color:white;
}
.menu-item.ng-hide {
  max-height: 0;
  opacity: 0;
}
.menu-item.menu-title {
  font-size: 14px;
  padding-left: 16px;
  text-align: left;
  text-transform: uppercase;
}


.dropdown-menu{
  display:block;
  position:absolute;
  top:0;left:0;
  background:white;
  padding:0;margin:0;
  z-index:50000;
  box-shadow: 1px 1px 3px #222;
}

.dropdown-menu li{
  list-style-type: none;
  font-size:12px;
  padding:9px 7px;
  display:block;
  border-bottom:1px solid #E0E0E0;
}

.dropdown-menu li.active{
  background-color:#03A9F4;
  color:white;
}

.results-toolbar{background-color: #017BB0!important}

md-list-item .md-secondary-container, md-list-item .md-secondary, md-list-item .md-list-item-inner .md-secondary-container, md-list-item .md-list-item-inner .md-secondary {
  margin-left: 16px;
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.star {
  float: right;
  margin-top: 0px;
  color: #FFDC00;
  font-size: 24px;
}
.star:hover {
  cursor: pointer;
}
.mini-star {
  font-size: 20px;
  margin-right: 2px;
  margin-top: 2px;
}
.favorites-heading {
  float: left;
  height: 30px;
  line-height: 30px;
  width: 100%;
  margin-bottom: 0px;
}
.favorite-name {
  float: left;
  margin-bottom: 3px;
  margin-top: 3px;
  font-size: 14px;
}
.clear {
  clear: both;
}


md-input-container {
  padding-bottom: 5px;
}

md-content{
  color:#686868;
}
md-content a{
  color:#686868;
  font-weight:bold;
}
md-content .light{font-weight:300;font-size:18px;text-transform: uppercase;}
md-slider {
  height: 32px;
}
.subtitle {
  margin-bottom: 8px;
}
.favorites-list > md-list-item > button{
  padding: 0 0px;
}
.favorites-list > md-list-item > button > div > p {
  padding: 0 10px;
}

.transparent-toolbar{background:transparent;}