<div ng-include="'views/sidebar.html'" layout='row'></div>
<div layout='column' flex layout-fill role='main' tab-index='-1' role='main' >
  <md-content class='main-container' flex layout-fill layout='column'>
    <div ng-show='vm.loading' layout-fill layout='column' layout-align='center center' flex>
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-toolbar class='search-filter transparent-toolbar' layout="row" layout-md="column" layout-sm="column" layout-align="space-between start" ng-hide='vm.loading'>
      <!-- Los filtros seleccionados -->
      <section flex="80" flex-md="100" flex-sm='100'>
        <p><strong>Filtrar resultados de búsqueda</strong></p>
        <md-content class="transparent-toolbar" style="min-height:86px;">
          <md-menu>
            <md-button aria-label="Open phone interactions menu" ng-click="vm.openMenu($mdOpenMenu, $event)">
              Ordenar <i md-menu-origin class="fa fa-sort"></i>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button ng-click="vm.load({sort: 'totalContractAmmount DESC'})">
                  <md-icon class='fa fa-money plus'></md>
                    Por monto total de contratos
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.load({sort: 'totalContractCount DESC'})">
                  <md-icon class='fa fa-sort-numeric-desc step'></md>
                    Por numero de contratos
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.load({sort: 'contractsMean DESC'})">
                  <md-icon class='fa fa-usd step'></md>
                    Por monto promedio
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-content>
      </section>
    </md-toolbar>
    <md-list layout='row' ng-hide='vm.loading' layout-wrap >
      <md-item ng-repeat="company in vm.companies" flex='50' layout-padding>
        <md-content class="contrato-item half">
          <a ng-href='#!/empresa/{{company.id}}' layout='column'>
            <p class='title'>{{company.proveedor_contratista}}</p>
            <p class='title'>$ {{numberFormat(mdpify(company.totalContractAmmount))}} MDP en {{company.totalContractCount}} contratos</p>
            <p class='title'>Contrato Promedio : $ {{numberFormat(mdpify(company.contractsMean))}} MDP</p>
          </a>
        </md-content>
      </md-item>
    </md-list>
  </md-content>
</div>
