<div ng-include="'views/sidebar.html'" layout='row'></div>
<!-- El Loader -->
<div ng-show='vm.loading' layout-fill layout='column' layout-align='center center' flex>
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<div class="wrap-main-container" layout='column' flex layout-fill role='main' tab-index='-1' role='main'>
  <md-content ng-show='!vm.loading' class='main-container' layout-fill flex layout='column'>
    <div class="contrato-item contrato-item-main md-whiteframe-z1">

      <section class="contrato-item-info">
        <h2 class="ammount"><i class="fa fa-folder-open"></i></h2>
        <h2 class="ammount">$ {{numberFormat(vm.contract.importe_contrato)}} {{vm.contract.moneda}}</h2>
        <h1>{{vm.contract.titulo_contrato}}</h1>
        <h3 class="procedimiento-text">{{vm.contract.tipo_procedimiento}} {{vm.contract.caracter}}</h3>
        <h3 class="procedimiento-text"><strong>#{{vm.contract.numero_procedimiento}}</strong></h3>
      </section>

      <ul class="data-items-list">
        <li>
          <p>
            <a ng-href="#/contratos?D{{vm.contract.dependencia2.id}}"><i class="fa fa-institution"></i> <strong>Institución:</strong> {{vm.contract.dependencia}}
            </a>
          </p>
        </li>
        <li>
          <p>
              <a ng-href="#/contratos?U{{vm.contract.unidadCompradora.id}}">
                <i class="fa fa-shopping-cart"></i> <strong>Unidad compradora:</strong> {{vm.contract.nombre_de_la_uc}} (clave: {{vm.contract.unidadCompradora.claveuc}})
              </a>
            </p>
        </li>
        <li>
          <p>
            <a ng-href="#/empresa/{{vm.contract.provedorContratista.id}}">
              <i class="fa fa-suitcase"></i> <strong>Proveedor contratista:</strong> {{vm.contract.proveedor_contratista}}
            </a>
          </p>
        </li>
        <li ng-if="vm.contract.fecha_inicio">
          <p><i class="fa fa-calendar"></i> <strong>Fecha de inicio del contrato:</strong> {{vm.contract.fecha_inicio}}</p>
        </li>
        <li ng-if="vm.contract.fecha_fin">
          <p><i class="fa fa-calendar"></i> <strong>Fecha fin del contrato:</strong> {{vm.contract.fecha_fin}}</p>
        </li>
        <li>
          <p><i class="fa fa-external-link"></i> <strong>Información general del procedimiento: </strong> <a target="_blank" ng-href="{{vm.contract.anuncio}}">{{vm.contract.anuncio}}</a></p>
        </li>
        <li>
          <p><i class="fa fa-database"></i> <strong>Fuente:</strong> <a target="_blank" ng-href="{{vm.contract.source}}">{{vm.contract.source}}</a></p>
        </li>
        <li ng-if="vm.contract.responsable">
          <p><i class="fa fa-user"></i> <strong>Responsable:</strong> {{vm.contract.responsable}}</p>
        </li>
        <li>
          <p><strong>Código identificador del contrato:</strong> {{vm.contract.codigo_contrato}}</p>
        </li>
        <li>
          <p><strong>Tipo de contratación:</strong> {{vm.contract.tipo_contratacion}}</p>
        </li>
        <li>
          <p><strong>Tipo de procedimiento:</strong> {{vm.contract.tipo_procedimiento}}</p>
        </li>
        <li>
          <p><strong>Caracter:</strong> {{vm.contract.caracter}}</p>
        </li>
        <li ng-if="vm.contract.aportacion_federal">
          <p><strong>Importe de Aportación del Gobierno Federal(sin I.V.A):</strong> {{vm.contract.aportacion_federal}}</p>
        </li>
        <li ng-if="vm.contract.archivado">
          <p><strong>Archivado:</strong> {{vm.contract.archivado}}</p>
        </li>
        <li ng-if="vm.contract.clave_cartera_shcp">
          <p><strong>Clave de cartera:</strong> {{vm.contract.clave_cartera_shcp}}</p>
        </li>
        <li ng-if="vm.contract.clave_programa">
          <p><strong>Clave del programa federal:</strong> {{vm.contract.clave_programa}}</p>
        </li>
        <li ng-if="vm.contract.compra_consolidada">
          <p><strong>Compra consolidada:</strong>
            <span ng-if="vm.contract.compra_consolidada == 1">Si</span>
            <span ng-if="vm.contract.compra_consolidada == 0">No</span>
          </p>
        </li>
        <li ng-if="vm.contract.contrato_marco">
          <p><strong>Contrato marco:</strong>
            <span ng-if="vm.contract.contrato_marco == 1">Si</span>
            <span ng-if="vm.contract.contrato_marco == 0">No</span>
          </p>
        </li>
        <li ng-if="vm.contract.cuenta_administrada_por">
          <p><strong>Cuenta administrada por:</strong>
            <span ng-if="vm.contract.cuenta_administrada_por == 'PoC'">Proveedor o Contratista</span>
            <span ng-if="vm.contract.cuenta_administrada_por != 'PoC'">Unidad Compradora</span>
          </p>
        </li>
        <li ng-if="vm.contract.estatus_contrato">
          <p><strong>Estatus del contrato:</strong> {{vm.contract.estatus_contrato}}</p>
        </li>
        <li ng-if="vm.contract.estatus_empresa">
          <p><strong>Estatus de la empresa:</strong></p>
          <p ng-if="vm.contract.estatus_empresa == 'Habilitado'"><strong>Habilitado</strong></p>
          <p ng-if="vm.contract.estatus_empresa == 'Habilitado'">
            Es el estado adquirido por la empresa cuando ha sido registrada en CompraNet, ya sea por su cuenta o por alguna Unidad Compradora, tratándose de procedimientos presenciales o mixtos.
          </p>
          <p ng-if="vm.contract.estatus_empresa == 'Reg'"><strong>Reg</strong></p>
          <p ng-if="vm.contract.estatus_empresa == 'Reg'">
            Es el estado adquirido por la empresa cuando está en proceso de completar su registro.
          </p>
          <p ng-if="vm.contract.estatus_empresa == 'SCS'"><strong>SCS</strong></p>
          <p ng-if="vm.contract.estatus_empresa == 'SCS'">
            Estado concedido por el sistema cuando existe alguna deficiencia en la información incorporada para su registro en CompraNet.
          </p>
        </li>
        <li ng-if="vm.contract.estratificacion_muc">
          <p><strong>Estratificación manifestada por la UC:</strong> {{vm.contract.estratificacion_muc}}</p>
        </li>
        <li ng-if="vm.contract.estratificacion_mpc">
          <p><strong>Estratificación declarada por el proveedor o contratista a la fecha de emisión del reporte</strong> {{vm.contract.estratificacion_mpc}}</p>
        </li>
        <li ng-if="vm.contract.exp_f_fallo">
          <p><strong>Expediente fecha de fallo:</strong> {{vm.contract.exp_f_fallo}}</p>
        </li>
        <li ng-if="vm.contract.fecha_apertura_proposiciones">
          <p><strong>Expediente fecha de apertura:</strong> {{vm.contract.fecha_apertura_proposiciones}}</p>
        </li>
        <li ng-if="vm.contract.fecha_celebracion">
          <p><strong>Fecha de celebración:</strong> {{vm.contract.fecha_celebracion}}</p>
        </li>
        <li ng-if="vm.contract.forma_procedimiento">
          <p><strong>Forma de procedimiento:</strong> {{vm.contract.forma_procedimiento}}</p>
        </li>
        <li ng-if="vm.contract.plantilla_expediente">
          <p><strong>Plantilla expediente:</strong> {{vm.contract.plantilla_expediente}}</p>
        </li>
        <li ng-if="vm.contract.plurianual">
          <p><strong>Plurianual:</strong>
            <span ng-if="vm.contract.plurianual == 1">Si</span>
            <span ng-if="vm.contract.plurianual == 0">No</span>
          </p>
        </li>
        <li ng-if="vm.contract.ramo">
          <p><strong>Ramo:</strong> {{vm.contract.ramo}}</p>
        </li>
          <!--Solo disponibleen registros de compranet 2010-2012 -->
          <div ng-if='vm.contract.numero_expediente'>
            <li><p> <strong>Titulo Expediente:</strong> {{vm.contract.numero_expediente}}</p></li>
            <li><p> <strong>Numero de Expediente:</strong> {{vm.contract.numero_expediente}}</p></li>
          </div>
      </ul>
    </div>
  </md-content>
</div>
