<div ng-include="'views/sidebar.html'" layout='row'></div>
<!-- El Loader -->
<div ng-show='loading' layout-fill layout='column' layout-align='center center' flex>
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<div class="wrap-main-container" layout='column' flex layout-fill role='main' tab-index='-1' role='main'>
  <md-content ng-show='!loading' class='main-container' layout-fill flex layout='column'>
    <div class="contrato-item contrato-item-main md-whiteframe-z1">

      <section class="contrato-item-info">
        <h2 class="ammount"><i class="fa fa-folder-open"></i></h2>
        <h2 class="ammount">$ {{numberFormat(contract.importe_contrato)}} {{contract.moneda}}</h2>
        <h1>{{contract.titulo_contrato}}</h1>
        <h3 class="procedimiento-text">{{contract.tipo_procedimiento}} {{contract.caracter}}</h3>
        <h3 class="procedimiento-text"><strong>#{{contract.numero_procedimiento}}</strong></h3>
      </section>

      <ul class="data-items-list">
        <li>
          <p><i class="fa fa-map-marker"></i> <strong>{{contract.dependencia}}</strong></p>
        </li>
        <li>
          <p><i class="fa fa-shopping-cart"></i> <strong>Unidad compradora:</strong> {{contract.nombre_de_la_uc}}</p>
        </li>
        <li>
          <p><i class="fa fa-suitcase"></i> <strong>Proveedor contratista:</strong> {{contract.proveedor_contratista}}</p>
        </li>
        <li>
          <p> <strong>Tipo de contratacion:</strong> {{contract.tipo_contratacion}}</p>
        </li>
        <li>
          <p> <strong>Importe:</strong> {{contract.importe_contrato}}</p>
        </li>
          <!--Solo disponibleen registros de compranet 2010-2012 -->
          <div ng-if='contract.numero_expediente'>
            <p> <strong>Titulo Expediente:</strong> {{contract.numero_expediente}}</p>
            <p> <strong>Responsable:</strong> {{contract.responsable}}</p>
            <p> <strong>Numero de Expediente:</strong> {{contract.numero_expediente}}</p>
          </div>
        <li>
          <p>{{contract.fecha_inicio}}</p>
        </li>
      </ul>
    </div>
  </md-content>
</div>
