<div ng-include="'views/sidebar.html'" layout='row'></div>

<div layout='column' flex layout-fill role='main' tab-index='-1' role='main'>

  <md-content class='main-container' flex layout-fill layout='column'>

    <!-- pagination -->
    <md-toolbar class='transparent-toolbar' layout='row' ng-hide='loading'>

      <div flex >
        <div ng-hide='!sum'> Monto de contratos : $ {{numberFormat(sum)}} {{sum_abbr}} <span ng-show='sum_abbr == ""'>MXN</span> </div>
      </div>

      <div layout='column'>
          <div layout='column' ng-hide='!pages || pages <= 1'>
              <div>Pagina {{params.page}} de {{pages}}</div>
              <div>
                  <md-button ng-click='prevPage()' ng-disabled='params.page === 1' > &lt; </md-button>
                  <md-button ng-click='nextPage()' > &gt; </md-button>
              </div>
          </div>
      </div>

    </md-toolbar>

    <!-- El Loader -->
    <div ng-show='loading' layout-fill layout='column' layout-align='center center' flex>
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>


    <md-list ng-hide='loading' >
      <!-- Los filtros seleccionados -->
      <md-content flex layout='row' style="min-height:86px;" ng-show='searchObjectsExists()'>
          <md-content ng-hide='params.dependencias.length === 0' class='md-padding'>
            <div  md-ink-ripple="#bbb">Dependencias</div>
            <md-button ng-repeat='item in params.dependencias' class='menu-item tag' ng-click='removeItem("dependencias",item)' >{{item.dependencia}}</md-button>
          </md-content>
          <md-content ng-hide='params.ucs.length === 0' class='md-padding'>
            <div  md-ink-ripple="#bbb">Unidades Compradoras</div>
            <md-button ng-repeat='item in params.ucs' class='menu-item tag' ng-click='removeItem("ucs",item)' >{{item.nombre_de_la_uc}}</md-button>
          </md-content>
          <md-content ng-hide='params.empresas.length === 0' class='md-padding'>
            <div  md-ink-ripple="#bbb">Empresas</div>
            <md-button ng-repeat='item in params.empresas' class='menu-item tag' ng-click='removeItem("empresas",item)' >{{item.proveedor_contratista}}</md-button>
          </md-content>
      </md-content>

      <!-- El listado -->
      <md-item ng-repeat="contract in contracts">
        <md-content layout='column' class="rounded-box">
          <div layout='row' >
            <div flex='50'>
              <h3 class='ammount'><a ng-href='/contrato/{{contract.id}}'>$ {{numberFormat(contract.importe_contrato)}} {{contract.moneda}}</a></h3>
              <p class='title'><a ng-href='/contrato/{{contract.id}}'>{{contract.titulo_contrato}}</a></p>
              <p class='light'><a ng-href='/contrato/{{contract.id}}'>{{contract.tipo_procedimiento}}</a> </p>
            </div>
            <div flex='50'>
              <p><a ng-href='/dependencias/{{contract.dependencia2.id}}'>{{contract.dependencia}}</a></p>
              <p><a ng-href='/unidadesCompradoras/{{contract.unidadCompradora.id}}'>{{contract.nombre_de_la_uc}}</a></p>
              <p><a ng-href='/empresas/{{contract.provedorContratista.id}}'>{{contract.proveedor_contratista}}</a></p>
              <p>{{contract.fecha_inicio}}</p>
            </div>
          </div>
          <div ng-show='contract.show' class='md-tile-content'>
            <div ng-repeat='(key,value) in contract'>{{key}} : {{value}}</div>
          </div>
        </md-content>
      </md-item>
    </md-list>
  </md-content>
</div>
