<div flex-sm="100" ng-include="'views/sidebar.html'" layout='row'></div>

<md-content class="wrap-main-container" layout='column' flex flex-sm="100" layout-fill role='main' tab-index='-1' >

  <md-content class='main-container' flex layout-fill layout='column'>

    <md-toolbar
      class="search-header transparent-toolbar"
      layout="row"
      layout-md="column"
      layout-sm="column"
      layout-align="space-between center"
      layout-align-md="space-between start"
      layout-align-sm="space-between start">
      <div class="search-header-title" flex-md="100" flex-sm='100'>
        <h1><strong>BUSCA ANALIZA Y COMPARTE</strong></h1>
        <h1>LOS CONTRATOS DEL GOBIERNO</h1>
      </div>
      <div class="search-header-social" flex-md="100" flex-sm='100'>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </div>
    </md-toolbar>


    <md-toolbar class='search-filter transparent-toolbar' layout="row" layout-md="column" layout-sm="column" layout-align="space-between start" ng-hide='vm.loading'>
      <!-- Los filtros seleccionados -->
      <section  flex="80" flex-md="100" flex-sm='100' ng-hide='vm.params.dependencias.length === 0 && vm.params.ucs.length === 0 && vm.params.empresas.length === 0'>
        <p><strong>Filtrar resultados de búsqueda</strong></p>
        <md-content class="transparent-toolbar" style="min-height:86px;" ng-show='vm.searchObjectsExists()'>
          <md-checkbox
            md-no-ink
            ng-repeat='item in vm.params.dependencias track by $index'
            ng-init="dependencyChecked=true"
            ng-model="dependencyChecked"
            class="md-primary"
            ng-click='vm.removeItem("dependencias",item)'>
            {{item.dependencia}}
          </md-checkbox>

          <md-checkbox
            md-no-ink
            ng-repeat='item in vm.params.ucs track by $index'
            ng-init="ucChecked=true"
            ng-model="ucChecked"
            class="md-primary"
            ng-click='vm.removeItem("ucs",item)'>
            {{item.nombre_de_la_uc}}
          </md-checkbox>

          <md-checkbox
            md-no-ink
            ng-repeat='item in vm.params.empresas track by $index'
            ng-init="empresaChecked=true"
            ng-model="empresaChecked"
            class="md-primary"
            ng-click='vm.removeItem("empresas",item)'>
            {{item.proveedor_contratista}}
          </md-checkbox>

        </md-content>
      </section>
      <section flex-md="100" flex-sm='100' class="search-clear" ng-hide='vm.params.dependencias.length === 0 && vm.params.ucs.length === 0 && vm.params.empresas.length === 0'>
        <p><a href="" ng-click="vm.clearFilters()">Limpiar resultados <i class="fa fa-trash"></i></a></p>
      </section>

    </md-toolbar>

    <section class="search-results-info" layout="row" layout-align="space-between center">
      <p class="search-results-text"><strong>Resultados de la búsqueda</strong></p>
      <div ng-hide='!vm.pages || vm.pages <= 1'>Pagina {{vm.params.page}} de {{vm.pages}}</div>
    </section>

    <!-- montos -->
    <md-toolbar class='sum-toolbar transparent-toolbar' layout='row' ng-hide='vm.loading'>

      <div >
        <div ng-hide='!vm.sum'> Monto de contratos : $ {{numberFormat(vm.sum)}} {{vm.sum_abbr}} <span ng-show='sum_abbr == ""'>MXN</span> </div>
      </div>

    </md-toolbar>


    <!-- El Loader -->
    <div ng-show='vm.loading' layout-fill layout='column' layout-align='center center' flex>
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>


    <md-list ng-hide='vm.loading' >

      <!-- El listado -->
      <md-item ng-repeat="contract in vm.contracts" >
        <md-content layout='column' class="contrato-item">
          <div layout='row' layout-md="column" layout-sm='column'>
            <div flex='50' flex-md="100" flex-sm='100'>
              <h3 class='ammount'><a ng-href='/#/contrato/{{contract.id}}'>$ {{numberFormat(contract.importe_contrato)}} {{contract.moneda}}</a></h3>
              <p class='title'><a ng-href='/#/contrato/{{contract.id}}'>{{contract.titulo_contrato}}</a></p>
              <p class='light'><a ng-href='/#/contrato/{{contract.id}}'>{{contract.tipo_procedimiento}} {{contract.caracter}}</a> </p>
            </div>
            <div flex='50' flex-md="100" flex-sm='100'>
              <ul class="data-items-list">
                <li>
                  <p>
                    <!--<a ng-href="/contratos?D{{contract.dependencia2.id}}" ng-click="changeSearchParam('/contratos?D'+ contract.dependencia2.id)">-->
                    <a ng-href="/#/contratos?D{{contract.dependencia2.id}}" target="_self">
                      <i class="fa fa-institution"></i> {{contract.dependencia}}
                    </a>
                  </p>
                </li>
                <li>
                  <p>
                    <!--<a ng-href="/contratos?U{{contract.unidadCompradora.id}}" ng-click="changeSearchParam('/contratos?U'+ contract.unidadCompradora.id)">-->
                    <a ng-href="/#/contratos?U{{contract.unidadCompradora.id}}" target="_self">
                      <i class="fa fa-shopping-cart"></i> Unidad compradora
                    </a>
                  </p>
                  <p>
                    <!--<a class="data-item" ng-href="/contratos?U{{contract.unidadCompradora.id}}" ng-click="changeSearchParam('/contratos?U'+ contract.unidadCompradora.id)">-->
                    <a class="data-item" ng-href="/#/contratos?U{{contract.unidadCompradora.id}}" target="_self">
                      {{contract.nombre_de_la_uc}}
                    </a>
                  </p>
                </li>
                <li>
                  <p>
                    <!--<a ng-href="/contratos?E{{contract.provedorContratista.id}}" ng-click="changeSearchParam('/contratos?E'+ contract.provedorContratista.id)">-->
                    <a ng-href="/#/contratos?E{{contract.provedorContratista.id}}" target="_self">
                      <i class="fa fa-suitcase"></i> Empresa
                    </a>
                  </p>
                  <p><a ng-href="/#/empresa/{{contract.provedorContratista.id}}" class="data-item">{{contract.proveedor_contratista}}</a></p>
                </li>
                <li>
                  <p>
                    <a>
                      <i class="fa fa-calendar"></i> Fecha de inicio del contrato
                    </a>
                  </p>
                  <p><a href="#" class="data-item">{{contract.fecha_inicio}}</a></p>
                </li>
              </ul>
            </div>
          </div>
          <div ng-show='contract.show' class='md-tile-content'>
            <div ng-repeat='(key,value) in contract'>{{key}} : {{value}}</div>
          </div>
        </md-content>
      </md-item>
    </md-list>

    <!-- pagination -->
    <md-toolbar class='transparent-toolbar pagination-wrapper' layout='row' layout-align="end center" ng-hide='vm.loading'>

      <nav class="pagination-cb" ng-hide='!vm.pages || vm.pages <= 1' layout="row" >
       <a ng-click='vm.prevPage()' href="">&lt;</a>
        <a
          ng-repeat="itemPage in vm.getRange(vm.pages) | limitTo:8:(vm.endPagination-8) track by $index"
          ng-click='vm.moveToPage(itemPage)'
          ng-class="{'current-page': (itemPage) === vm.params.page}"
          href="">
          {{itemPage}}
        </a>
        <a ng-click='vm.nextPage()' href="">&gt;</a></li>
      </nav>

    </md-toolbar>

  </md-content>
</md-content>
