<div ng-include="'views/sidebar.html'" layout='row'></div>
<div layout='column' flex layout-fill role='main' tab-index='-1' role='main'>
  <md-content class='main-container' flex layout-fill layout='column'>
    <md-list layout='row' layout-wrap>
      <md-item ng-repeat="dependencia in dependencias" flex='50' layout-padding>
        <md-content class="rounded-box half">
          <div layout='row'>
            <p >{{dependencia.dependencia}}</p>
          </div>
        </md-content>
      </md-item>
    </md-list>
  </md-content>
</div>
