<md-list class='user-list'>
  <div layout='row'>
    <md-subheader class="md-no-sticky" flex>
      <a target='_blank' ng-href='https://twitter.com/intent/tweet?text=%23{{contract.hashTag}}'>
        <span class='fa fa-comment'></span>#{{contract.hashTag}}
      </a>
    </md-subheader>
  </div>
  <md-list-item class="md-3-line" ng-repeat='tweet in tweets'>
    <img ng-src="{{tweet.user.profile_image_url_https}}" class="md-avatar" alt="{{item.who}}" />
    <div class="md-list-item-text">
      <h3>@{{ tweet.user.screen_name }}</h3>
      <h4>{{ tweet.text }}</h4>
      <p>{{ tweet.created_at }}</p>
    </div>
  </md-list-item>
</md-list>
