<md-list class='user-list'>
  <div layout='row' layout-align="center center">
    <section class="send-comment">
      <p><i class="fa fa-commenting"></i></p>
      <p><strong>USA ESTE HASHTAG</strong></p>
      <p><strong>#{{contract.hashTag}}</strong></p>
      <a target='_blank' ng-href='https://twitter.com/intent/tweet?text=%23{{contract.hashTag}}' class="send-comment-btn">Escribe un comentario</a>
    </section>
  </div>
  <md-list-item class="md-3-line" ng-repeat='tweet in tweets'>
    <img ng-src="{{tweet.user.profile_image_url_https}}" class="md-avatar" alt="{{item.who}}" />
    <div class="md-list-item-text">
      <h3><strong>@{{ tweet.user.screen_name }}</strong></h3>
      <h4>{{ tweet.text }}</h4>
      <p>{{ tweet.created_at }}</p>
    </div>
  </md-list-item>
</md-list>
